#main_screen {
	background-color: rgb(250, 250, 250);
}

#top_bar {
	position: absolute;
	top: 5px;
	left: 5px;
	height: 30px;
}

.button {
	position: absolute;
	height: 30px;
	width: 80px;
	border: 1px solid rgb(5, 5, 5);
}

.button:hover {
	background-color: rgb(220, 220, 220);
}

.button:active {
	background-color: rgb(200, 200, 200);
}

#btn_start {
	left: 5px;
}

#btn_stop {
	left: 90px;
}

#btn_step {
	left: 175px;
}

#btn_element_qty_plus {
	left: 260px;
}

#btn_element_qty_minus {
	left: 345px;
}

.tape_element {
	position: absolute;
	height: 50px;
	width: 50px;
	top: 200px;
	left: [[ left_distance | 10px ]];
	border: 1px solid rgb(5, 5, 5);
}

.tape_element:hover {
	background-color: rgb(220, 220, 220);
}

.tape_element:active {
	background-color: rgb(200, 200, 200);
}

.true_cell {
	background-color: rgb(100, 200, 100);
}

.false_cell {
	background-color: rgb(200, 100, 100);
}

.none_cell {
	background-color: rgb(100, 100, 200);
}